# Arc Testnet
ARC_RPC_URL=https://rpc.testnet.arc-node.thecanteenapp.com/v1/swrm_cd9f6112536446725e0dd1051aa1ccba74b0c21a35d2b33666944cdfd986fe26
DEPLOYER_PRIVATE_KEY=your_deployer_private_key_here
ORACLE_ADDRESS=your_oracle_address_here
